[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
behave-django = "*"

[dev-packages]
isort = "*"
black = "*"
pylint = "*"
flake8 = "*"
build = "*"
twine = "*"
dynamic-rest-bse = ">=2.4.0"
djangorestframework = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
pre-commit = "*"
coveralls = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
